{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head %}
{{parent()}}
<style>
      body {
        padding-top: 110px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-left: 10%;
        padding-right: 10%;
      }
      .navbar .container-fluid { padding-top: 10px; height: 50px; }
</style>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a href="{{path('home')}}" class="brand" style="font-size: 30px;">Pet Date</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% if not is_granted('ROLE_USER') %}
                        <li><a href="{{path('fos_user_security_login')}}">Σύνδεση</a></li>
                        <li class="active"><a href="{{path('fos_user_registration_register')}}">Εγγραφή</a></li>
                    {% else %}
                        <li><p class="navbar-text">Είσαι συνδεδεμένος ως:</p></li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.user.username}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('dog_edit')}}">Ο σκύλος μου</a></li>
                                <li><a href="{{path('fos_user_profile_edit')}}">Ο λογαριασμός μου</a></li>
                                <li><a href="{{path('fos_user_security_logout')}}">Αποσύνδεση</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% endblock navbar %}

{% block page_header %}{% endblock %}

{% block title %}Pet Date{% endblock %}

{% block footer %}{% endblock %}

{% block foot_script %}
    {{parent()}}
    <script>
        var googleMapsReady = [];
    </script>
    <script src="{{asset('js/common.js')}}"></script>
    <script src="{{asset('js/jquery.placesAutocomplete.js')}}"></script>
    <script src="{{asset('js/jquery.searchMap.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language={{app.request.locale}}&callback=googleMapsReadyFunc"></script>
{% endblock %}