{% extends 'PDSiteBundle::base.html.twig' %}

{% block container %}
<div class="{% block container_class %}container-fluid{% endblock container_class %}">
    <div class="content">
        {{ block ('flashes') }}

        <div class="row-fluid">
            <form action="#" method="post" class="well form-inline">
            <fieldset>
                    <div class="controls text-center">
                        {{form_widget(form.address)}}
                        {{form_widget(form.breed)}}
                        {{form_widget(form.gender)}}
                        {{form_rest(form)}}
                        <input type="submit" style="width: 19%" class="btn btn-primary" value="Βρες το ταίρι του!" />
                    </div>
            </fieldset>
            </form>
        </div>

        {% for dog in dogs %}
        <div class="row-fluid">
            <div class="span2">
                <img src="{{asset(dog.photoWebPath)}}" style="height: 100px;" />
            </div>
            <div class="span10 well">
                <p><strong><a href="{{path('dog', {'dog': dog.id})}}">{{dog.name}}</a></strong>, {{dog.breed.name}}, {{dog.genderAsString}}</p>
                <p>{{dog.user.address}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}