{% extends 'PDSiteBundle::base.html.twig' %}

{% block content %}
<form action="{{ path('dog_edit') }}" {{ form_enctype(form) }} method="POST" class="dog_edit">
    <div class="row">
        <h3>Διαχείριση Προφίλ Σκύλου</h3>
    </div>
    <div class="row">
        <div class="span6">
            {% if form.vars.data.photoWebPath != null %}
                <img src="{{image(form.vars.data.photoWebPath).zoomCrop(500, 285).png()}}" alt="profile pic" />
            {% endif %}
            <h5>Φωτογραφία Σκύλου</h5>
            <p style="font-size: 12px;">Μια καθαρή φωτογραφία αυξάνει τις πιθανότητες να επικοινωνήσουν οι άλλοι χρήστες μαζί σου</p>
            <p>{{ form_widget(form.photo) }}</p>
            <p>{{ form_row(form.vaccinations, {'attr': {'class': 'span10', 'style': 'height: 80px;'}}) }}</p>
            <p>{{ form_row(form.diseases, {'attr': {'class': 'span10', 'style': 'height: 80px;'}}) }}</p>
            <p>{{ form_row(form.description, {'attr': {'class': 'span10', 'style': 'height: 80px;'}}) }}</p>
        </div>
        <div class="span6">
            <div style="display: none">
                {{ form_widget(form.birthyear.day, {'value': '1'}) }}
                {{ form_widget(form.birthyear.month, {'value': '1'}) }}
            </div>
            {{ form_rest(form) }}
            <div>
                <input type="submit" class="btn btn-primary" value="Υποβολή" />
            </div>
        </div>
    </div>
</form>
{% endblock %}