{% extends 'PDSiteBundle::base.html.twig' %}

{% block fbmeta %}
  <meta property="og:title" content="{{dog.name|trim}}" />
  <meta property="og:type" content="petdate:dog" />
  <meta property="og:description" content="{{dog.breed.name|trim}}, {{dog.genderAsString|trim}}, {{dog.user.address|trim}}" />
  <meta property="og:image" content="{{app.request.schemeAndHttpHost}}{{asset(dog.photoWebPath)}}" />
  <meta property="og:url" content="{{url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" />
{% endblock %}

{% block content %}
    <div class="row">
        <h3>Προφίλ Σκύλου</h3>
    </div>
    <div class="row-fluid">
        <div class="span9 well">
            <p><strong>{{dog.name}}</strong>, {{dog.breed.name}}, {{dog.genderAsString}}</p>
            <p>{{dog.user.address}}</p>
        </div>
        <div class="span3 well text-center" style="padding: 14px; min-height: 100px; padding-top: 40px;">
            <div class="fb-like" data-href="{{url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
        </div>
    </div>
{% endblock %}