{% extends 'PDSiteBundle::base.html.twig' %}

{% block title %}Προφίλ Σκύλου | Pet Date{% endblock %}

{% block fbmeta %}
  <meta property="og:title" content="{{dog.name|trim}}" />
  <meta property="og:type" content="petdate:dog" />
  <meta property="og:description" content="{{dog.breed.name|trim}}, {{dog.genderAsString|trim}}, {{dog.user.address|trim}}" />
  <meta property="og:image" content="{{app.request.schemeAndHttpHost}}{{asset(dog.photoWebPath)}}" />
  <meta property="og:url" content="{{url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" />
{% endblock %}

{% block content %}
    <div class="row">
        <h3>Προφίλ Σκύλου</h3>
    </div>
    <div class="row-fluid">
        <div class="span9 well">
            <p><strong>{{dog.name}}</strong>, {{dog.breed.name}}, {{dog.genderAsString}}</p>
            <p>{{dog.user.address}}</p>
        </div>
        <div class="span3 well text-center" style="padding: 14px; min-height: 100px; padding-top: 40px;">
            <div class="fb-like" data-href="{{url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
        </div>
    </div>
    <div class="row-fluid">
        {% if dog.photoWebPath != null %}
        <div class="span9 well text-center">
            <img src="{{asset(dog.photoWebPath)}}" style="height: 400px" alt="photo" />
        </div>
        {% endif %}
        <div class="span3 well">
            <table class="table table-bordered">
                <tr><td>Χρώμα</td><td>{{dog.color.name}}</td></tr>
                <tr><td>Έτος γέννησης</td><td>{{dog.birthyear|date('Y')}}</td></tr>
            </table>
            <h5>Εμβόλια</h5>
            <p style="font-size: 12px;">{{dog.vaccinations}}</p>
            <h5>Ιστορικό Ασθενειών</h5>
            <p style="font-size: 12px;">{{dog.diseases}}</p>
            <h5>Περιγραφή</h5>
            <p style="font-size: 12px;">{{dog.description}}</p>
            <p class="text-center"><a href="{{path('dog_contact', {'dog': dog.id})}}" class="btn btn-large btn-primary" style="margin-top: 11px;">Επικοινώνησε</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <h4>Κριτικές</h4>
        <div class="span9" style="margin-left: 0">
            {% for review in dog.aboutMeReviews %}
            <div class="well">
                <div style="border-bottom: 1px dotted #CCC; padding-bottom: 5px;">{{review.reviewer.username}} <div class="pull-right">{{review.date|time_ago_in_words}}</div></div>
                <p style="margin-top: 10px;">{{review.message}}</p>
            </div>
            {% endfor %}
            {% if is_granted('ROLE_USER') %}
            <form action="{{ path('dog_review', {'dog': dog.id}) }}" {{ form_enctype(review_form) }} method="POST" class="dog_review" style="margin-bottom: 60px;">
                {{form_row(review_form.message, {'attr': {'style': 'width: 98.5%;'}})}}
                <input type="submit" class="btn btn-primary pull-right" value="Υποβολή" />
            </form>
            {% else %}
                <p class="pull-right">Για να αφήσεις και εσύ μια κριτική συνδέσου <a href="{{path('fos_user_security_login', {'redirect': (app.request.requestUri|url_encode)})}}">εδώ</a>.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}